@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */


body{
/*	background:url(../imges/Img.png) no-repeat ;
*/	background-position:top center;
/*background:url(../images/bb.jpg) no-repeat ;
*/overflow-x:hidden;
	margin:0px auto;
	padding:0px;
	width:1366px;
	font-family:Georgia, "Times New Roman", Times, serif;
	
}
.logo{
/*	background:url(../images/Img.png) no-repeat ;
*/
background:url(../images/ab.png) no-repeat;	
width:950px;
height:110px;
margin-left:160px;
}
.logo1{
background:url(../images/aaa.png) no-repeat;	
width:950px;
height:110px;
margin-left:640px;
}
.text{
	font-size:36px;
	color:#000;
	margin-top:25px;
	float:left;
	font-weight:bold;
	margin-left:145px;
}
.footer{
	background-color:#000;
	margin-top:110px;
	float:left;
	font-size:10px;
	text-align:center;
	line-height:16px;
	color:#fff;
	width:1366px;
	height:20px;
}

.clr{ clear:both;}
.menu{
	float:left;
	background-color:#000;
	height:50px;
	width:1366px;
	
}
.menu a{
	color:#fff;
	font-size:18px;
	height:50px;
	line-height:50px;
	text-decoration:none;
	padding:17px 25px;
}
.menu a:last-child{
	background:url(../images/phone.png) no-repeat;
	padding-left:54px;
}
.menu a:hover{
	color:#999;
}
